.main-card {
  width: 30%;
}

@media (max-width: 768px) {
  .main-card {
    width: 80%;
  }
}

.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20;
}

@media (max-width: 768px) {
  .todo-list-container {
    padding-top: 30px;
    flex-direction: column;
    gap: 10px;
  }
}
.todo-list {
  width: 30%;
  text-align: center;
  margin-left: 6%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .todo-list {
    width: 80%;
  }
}
.edit-buttons {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .edit-buttons {
    flex-direction: row;
  }
}
